$primary-color : #0D6B6A;
$light-color : #DDDDDD ;
$dark-color : #666666 ;
$margin : 60px;
%btn {
  background-color: $primary-color;
  border-radius: 2px;
  cursor: pointer;
  border: black;
  color: $light-color;
}

%hoverCard {
  content: "Sara Nicolson";
  color: $light-color;
  display: flex;
  align-items: end;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: $primary-color;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background : transparent;
  z-index: 2;

  a {
    color: black;

    &:hover {
      display: block;
      color: $primary-color;
      cursor: pointer;
    }
  }
  p {
    font-size: 30px;
    font-family: 'Montserrat';
  }
  button {
  @extend %btn;
  height: 35px;
    width: 130px;
  }




}
.sec1 {
  width: 100%;
  height: 80vh;
  position: relative;
  top: -60px;
  background: url("../img/bg.svg");

  &__pic {
    position: absolute;
    height: 50vh;
    width: 50vh;
    right: 15%;
    top: 15vh;
    background: #000 center/cover url("../img/image.svg") no-repeat;

    z-index: 3;
  }

  .desc{
    position: absolute;
    height: 100%;
    width:45%;
    top: 100px;
    left: 200px;
    &__title{
      font-size: 80px;
      font-weight: 600;

    }
    &__desc {
      position: relative;
      top: 20px;
      font-size: 25px;
      color: $dark-color;
    }
    &__butt {
      @extend %btn;
      position: relative;
      height: 40px;
      width: 150px;
      top: 30px;
      font-size: 15px;
      cursor: pointer;

    }
  }
}

.team {
  width: 80vw;
  height: 32vw;
  position: relative;
  left: 10%;

  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
.teamMembers {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

  .teamMember__desc {
    width: 40%;
    position: relative;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 300px;
      position: relative;
      left: 10%;
      width: 80%;
    }
    p {
      font-size: 30px;
      position: relative;
      width: 80%;

      left: 10%;

    }

  }

  .teamMember__members {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;

    .teamMember__member {
      width: 33.33%;
      height: 50%;
      background-size: cover;
      position: relative;
      &::after{
        transition: 1s;
        content: "";
      }
      &:hover::after {
        @extend %hoverCard
      }
    }
    .teamMember__member1{
      background: #000 center/cover url("../img/woman.svg") no-repeat;
    }
    .teamMember__member2{
      background: #000 center/cover url("../img/man.svg") no-repeat;

    }
    .teamMember__member3{
      background: #000 center/cover url("../img/woman.svg") no-repeat;
    }
    .teamMember__member4{
      background: #000 center/cover url("../img/man.svg") no-repeat;

    }
    .teamMember__member5{
      background: #000 center/cover url("../img/woman.svg") no-repeat;

    }
    .teamMember__member6{
      background: #000 center/cover url("../img/man.svg") no-repeat;

    }

  }

}


}

.sec4 {
  background: #000 center/cover url("../img/bg.svg") no-repeat;
  position: relative;
  width: 100%;
  margin-top: 200px;
  padding-top: 100px;
  p {
    position: relative;
    width: 80%;
    left: 10%;
    font-size: 28px;
    font-weight: 800;
  }
  hr {
    width: 80%;
    left: 10%;
    position: relative;
    border-top: 1px solid $light-color  ;
  }

  &__titles {
    width: 80%;
    left: 10%;
    position: relative;
    display: flex;
    margin-top: 50px;



    p {
      width: 33.33%;
      font-size: 23px;
      font-weight: 750;
      left: 0px;
    }
  }
  .work-process {
    width: 80%;
    left: 10%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .process {
      width: 33.33%;




      .prose {

        margin-top: 30px;

        &__title {

          p {
            font-size: 20px;
            font-weight: 600;
          }
          img {
            position: absolute;
            margin-top: 10px;
          }
        }
        &__desc {
          border-left: 2px solid $light-color ;
          p {
            font-size: 16px;
            font-weight: 500;
            margin: 8px;

          }
        }
      }
    }
  }

  &__img2 {
    width: 35%;
    position: absolute;
    bottom: -15%;
    right: 25%;

  }
}

.footer {
  width: 100%;
  height: 500px;
  position: relative;
  top: 100px;
  background: $primary-color;
  text-align: center;
  color: white;
  p {
    position: relative;
    width: 80%;
    left: 10%;
    top: 30%;
  }
  h1 {
    position: relative;
    top: 20%;

  }
  &__line {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 30px;
  }
  &__social {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
    a{
      position: relative;
      width: 50px;
      height: 50px;
      background-color: #2b7877;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 5px;
      cursor: pointer;
      transition: 0.21s;
      &:hover {
        background-color: #5eafad;
        color: $dark-color;
      }
    }
  }
}